__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
.uv/
.venv/
.pylint.d/
.mypy_cache/
.pyright/
.pre-commit-cache/
.vscode/
.idea/
.DS_Store
Thumbs.db
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd